# Environnement: development ou production
APP_ENV=development
#APP_ENV=production
APP_BASE_URL=http://localhost:8000

# Base de données
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=sae_colis
DB_USER=root
DB_PASSWORD=root_password

# CAS (authentification université)
CAS_HOST=cas.univ-paris13.fr
CAS_CONTEXT=/cas/
CAS_PORT=443
CAS_CA_CERT=

# UIDs des administrateurs (séparés par des virgules)
ADMIN_UIDS=admin1,admin2

# Mail (SMTP Gmail — mot de passe d'application Google, pas le vrai mot de passe)
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=sae.colis.mailing@gmail.com
MAIL_PASSWORD=mwejcbjaizcwkhvn
MAIL_FROM_ADDRESS=sae.colis.mailing@gmail.com
MAIL_FROM_NAME="Suivi Colis IUT - Test notifications"

# Adresse qui recevra les mails de test (modifiable au clic dans le dashboard)
MAIL_TEST_TO=faresbennani2018@gmail.com
