# Bloquer accès direct à la racine du projet
<FilesMatch ".*">
    Require all denied
</FilesMatch>

# Autoriser uniquement le dossier public
<FilesMatch "^$">
    Require all granted
</FilesMatch>
RewriteEngine On

# Si le fichier ou le dossier demandé existe réellement (comme vos images, CSS, JS), Apache le sert directement
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Sinon, on redirige tout proprement vers index.php
RewriteRule ^(.*)$ index.php [QSA,L]